<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEXTICK</title>
    <link rel="stylesheet" href="/admin/addcategory.css">
    <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png">

</head>

<body>
    <div class="container">
        <h1>Add New Category</h1>
        <form action="/admin/category/add" method="post">
            <input type="text" style="border-width: 0px; color:red;font-weight:bold" name="message" id="message"
                value="{{message}}">
            <div class="form-group">
                <label for="category">Category</label>
                <input type="text" id="category" name="category" required>
            </div>
            <div class="form-group">
                <label for="brand">Brand</label>
                <input type="text" id="brand" name="brand" required>
            </div>

            <div class="form-group">
                <label for="bandcolor">Band Color</label>
                <input type="text" id="bandcolor" name="bandcolor" required>
            </div>



            <div class="button-group">
                <button type="submit">Add Category</button>
            </div>
        </form>
        <script>
            // Clear the message after 3 seconds
            setTimeout(() => {
                const messageField = document.getElementById('message');
                if (messageField) {
                    messageField.value = ''; // Clear the message field
                }
            }, 2000); // Adjust the time (in milliseconds) as needed
        </script>

    </div>
</body>

</html>