<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png">

    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: rgba(143, 92, 9, 0.922)
        }

        .forgot-password-form {
            width: 700px;
            height: 330px;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.783);
            background-color: #ececec;
            color: rgb(0, 0, 0);
        }
    </style>
</head>

<body>

    <div class="forgot-password-form">
        <h3 class="text-center">Forgot Password</h3>
        <form id="forgotPasswordForm" action="/email" method="post">
            <div class="form-group">

                <label for="email"><b>Email address</b></label><br>
                {{#if message}}
                <div id="messageContainer">
                    <input type="text" id="message"
                        style="background-color:#f0f0f0;color: red;border-width:0px;font-size:15px;width:100%;font-weight:500"
                        name="message" value="{{message}}" readonly>
                </div>
                {{/if}}
                <input name="email" style="background-color: #ffffff;border-width:0.5px;" type="email"
                    class="form-control" id="email" placeholder="Enter your email">
            </div>
            <button style="margin-top: 70px;background-color:rgb(255, 145, 0)" type="submit" class="btn btn btn-block">Send OTP</button>
        </form>
        <div class="text-center mt-3">
            <a style="color: rgb(0, 0, 0); text-decoration:none;font-weight:500" href="/login">Back to Login</a>
        </div>
    </div>
    <script>
        // Wait for the DOM to be fully loaded
        document.addEventListener("DOMContentLoaded", function () {
            // Set a timeout to remove the message after 3 seconds (3000 milliseconds)
            setTimeout(function () {
                var messageContainer = document.getElementById("messageContainer");
                if (messageContainer) {
                    messageContainer.remove();
                }
            }, 2000);
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>