<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png">

    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
background-color: wheat;      background-size: cover;
            color: rgb(0, 0, 0);
        }
        .password-reset-form {
            width: 600px;
            height: 360px;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.478);
            background-color: #e6e6e6e7;
        }
    </style>
</head>
<body>

    <div class="password-reset-form">
        <h3 class="text-center">Reset Password</h3>
        <form id="resetPasswordForm" action="/updatepassword" method="post">
            <div class="form-group">
                <input style="background-color: #e2e2e2d4;border-width:0px;color:red;width:100%" type="text" name="message" id="message" value="{{message}}"><br>
                <label for="newPassword">New Password</label>
                <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Enter new password" >
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm new password" >
            </div>
            <button style="margin-top: 60px;background-color:rgba(255, 145, 0, 0.878);color:white" type="submit" class="btn btn- btn-block">Update Password</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
